
<header class="header">
  <!-- Banner com logo sobreposto -->
  <div id="imgBanner" class="banner-container">
    <img src="imgBanner.jpg" alt="Banner" class="banner-img" />
    <img id="logoSemFundo" src="logoSemFundo.png" alt="Logo Sem Fundo" class="logo-overlay" />
  </div>

  <!-- Navbar -->
  <nav class="nav-container">
    <div class="nav-links">
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/home" class="nav-link">Home</a>
      <a routerLink="/administrativo" class="nav-link">Administrativo</a>
      <a routerLink="/Cadastro" class="nav-link">Cadastro</a>

      <a routerLink="/dashboard" *ngIf="authService.isAuthenticated()" class="nav-link">Dashboard</a>
    </div>
    <button (click)="onLogout()" *ngIf="authService.isAuthenticated()" class="nav-button">Logout</button>
  </nav>
</header>


