<footer>
    <div>
        <P>®2024 Oliveira & Oliveira Leal Advocacia - Todos os Direitos Reservados.</P>
        <P>CNPJ 51.919.094/0001-38 | OAB-DF 46.323 | OAB-DF 36.635</P>
        <div>
            <a class="btn btn-lg button-whatsapp w-1" href="https://wa.me/5561981354018"
                target="_blank">
                <img id="iconWhatsapp" src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp">
                Entre em Contato Conosco via WhatsApp
            </a>
            <p>(61) 98135-4018</p>
        </div>
        <p>Ed. Brasil 21, numero 623, bloco E, sala 618</p>

    </div>
    
</footer>
