<!-- about-us.component.html -->
<section class="about-us">
  
    <p><strong>Sobre Nós - Oliveira & Oliveira Leal Advocacia</strong></p>
    
    <p>
        Com mais de 10 anos de experiência, a Oliveira & Oliveira Leal Advocacia é referência em oferecer soluções jurídicas eficazes, éticas e personalizadas para cada cliente. Nosso compromisso é garantir suporte jurídico de excelência, protegendo os interesses e direitos de quem nos confia suas demandas.
    </p>
    
    <p>
        Especializados em Direito Previdenciário, atuamos em todas as modalidades de aposentadoria, incluindo <strong>BCP-LOAS, Auxílio-Doença, Auxílio-Maternidade, Auxílio-Reclusão, Aposentadoria por Invalidez, Revisão de Aposentadoria</strong> e <strong>Planejamento Previdenciário</strong>. Nossa expertise permite auxiliar nossos clientes a obterem os benefícios que merecem de forma ágil e segura.
    </p>
    
    <p>
        Além disso, temos sólida atuação nas áreas <strong>Trabalhista</strong> e <strong>Cível</strong>, oferecendo soluções que vão desde a defesa de direitos trabalhistas até a resolução de questões contratuais e de família.
    </p>
    
    <p>
        Na Oliveira & Oliveira Leal®, você encontra uma advocacia comprometida com resultados que fazem a diferença na sua vida. Conte conosco para garantir que seus direitos sejam respeitados.
    </p>
    
    </section>
    