<div class="carousel">
    <div class="carousel-slide">
      <!-- Slide 1 --><div class="carousel-item">
    <img src="img1.jpg" alt="Imagem 1" />
    <div class="carousel-caption">
      <h4>Direito Empresarial</h4>
      <a href="#">
        <p>Análise de riscos</p>
      </a>
      <a href="#">
        <p>Defesa Trabalhistas</p>
      </a>
      <a href="#">
        <p>Mitigação de prejuízos</p>
      </a>
    </div>
  </div>
  <!-- Slide 2 -->
  <div class="carousel-item">
    <img src="img2.jpg" alt="Imagem 2" />
    <div class="carousel-caption">
      <a href="#">
        <p>Direito Trabalhista</p>
      </a>
      <a href="#">
        <p>Reclamação Trabalhista</p>
      </a>
      <a href="#">
        <p>Análise de Riscos</p>
      </a>
      <a href="#">
        <p>Cálculos Trabalhistas</p>
      </a>
    </div>
  </div>
  <!-- Slide 3 -->
  <div class="carousel-item">
    <img src="img3.jpg" alt="Imagem 3" />
    <div class="carousel-caption">
      <h4>Direito Previdenciário</h4>
      <a href="#">
        <p>Aposentadoria</p>
      </a>
      <a href="#">
        <p>Benefício de Prestação Continuada</p>
      </a>
      <a href="#">
        <p>Auxílio-Doença</p>
      </a>
    </div>
  </div>
  <!-- Slide 4 -->
  <div class="carousel-item">
    <img src="img4.jpg" alt="Imagem 5" />
    <div class="carousel-caption">
      <h4>Direito Familiar</h4>
      <a href="#">
        <p>Holding Familiar</p>
      </a>
      <a href="#">
        <p>Pensão Alimentícia</p>
      </a>
      <a href="#">
        <p>Exoneração de Alimentos</p>
      </a>
    </div>
  </div>
  
      <!-- Slide 5 -->
      
    </div>
  </div>
  